body {
    text-align: center;
    margin: auto;
}

#result {
    border: solid black 1px;
    padding: 2em;
    width: 85%;
    margin: auto; 
}

.number {
    display: inline-block;
}

button {
    border: solid black 1px;
    padding: .5em;
    width: 18%;
    height: 60px;
}

button:hover {
    cursor: pointer;
}